{% extends "base.html" %}

{% block app_content %}
    <h1 class="text-center">Привет, {{ current_user.username }}!</h1>
    <h2 class="text-left">Твои результаты:</h2>
    <table class="table table-striped">
        <tr>
          <td>№ п/п</td>
          <td>Оценка</td>
          <td>Время окончания</td>
        </tr>
    {% for attempt in attempts %}
        <tr>
          <td>{{attempt.id}}</td>
          <td>{{attempt.result}}</td>
          <td>{{attempt.timestamp}}</td>
        </tr>
    {% endfor %}
    </table>
    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="test" role="button">Пройти тестирование</a>
    </p>
{% endblock %}
